{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdoteJa - Adoção de Cachorros</title>
    <link rel="stylesheet" href="{% static 'pets/css/home.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
  </head>
  <body>
    {% include 'partials/navbar.html' %} {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="home-container">
      <div class="texts">
        <h1>Nossos Pets</h1>
        <h3>Confira os doguinhos que estão esperando por você</h3>
      </div>

      <div class="cachorros-container">
        {% for cachorro in cachorros %}
        <a href="{% url 'detalhes_cachorro' cachorro.id %}">
          <div class="cachorro">
            <img src="{{ cachorro.imagem.url }}" alt="{{ cachorro.nome }}" />
            <div class="cachorro-infos">
              <h2>{{ cachorro.nome }}</h2>
              <div class="tags">
                <div class="tag">
                  <i
                    class="ph ph-check-circle"
                    style="color: rgb(255, 255, 255)"
                  ></i
                  >{{ cachorro.status }}
                </div>
                {% if cachorro.sexo == 'Fêmea' %}
                  <div class="tag" id="sexo_femea">
                    <i
                      class="ph ph-gender-intersex"
                      style="color: rgb(255, 255, 255)"
                    ></i
                    >{{ cachorro.sexo }}
                  </div>
                {% else %}
                  <div class="tag" id="sexo_macho">
                    <i
                      class="ph ph-gender-intersex"
                      style="color: rgb(255, 255, 255)"
                    ></i
                    >{{ cachorro.sexo }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="end-infos">
              <h4>Raça</h4>
              <p>{{ cachorro.raca }}</p>
            </div>
            <!-- <p class="idade">Idade: {{ cachorro.idade }}</p> -->
            <!-- <p class="sexo">Sexo: {{ cachorro.sexo }}</p> -->
            <!-- <p>{{ cachorro.descricao }}</p> -->
            <!-- <p class="status"><strong>Status:</strong>{{ cachorro.status }}</p> -->
          </div>
        </a>

        {% empty %}
        <p>Nenhum cachorro disponível para adoção no momento.</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
