{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoteJa</title>
    <link rel="stylesheet" href="{% static 'pets/css/pet_info.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
</head>
<body>
    {% include 'partials/navbar.html' %}
    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="info-container">
      <div class="info-box">
        <div class="pet-img">
          <img src="{{ cachorro.imagem.url }}" alt="">
        </div>
        <div class="pet-info-container">
          <div class="pet-nome">
            <h1>{{ cachorro.nome }}</h1>
            <div class="tags">
              <div class="tag">
                <i class="ph ph-check-circle" style="color: rgb(255, 255, 255)"></i>
                {{ cachorro.status }}
              </div>
              {% if cachorro.sexo == 'Fêmea' %}
                <div class="tag" id="sexo_femea">
                  <i
                    class="ph ph-gender-intersex"
                    style="color: rgb(255, 255, 255)"
                  ></i
                  >{{ cachorro.sexo }}
                </div>
              {% else %}
                <div class="tag" id="sexo_macho">
                  <i
                    class="ph ph-gender-intersex"
                    style="color: rgb(255, 255, 255)"
                  ></i
                  >{{ cachorro.sexo }}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="pet-info">
            <h4>Idade</h4><p class="idade">{{ cachorro.idade }}</p>
            <h4>Raça</h4><p>{{ cachorro.raca }}</p>
            <h4>Descrição</h4><p class="descricao">{{ cachorro.descricao }}</p>
          </div>
          <a href="" class="button-adotar">Adotar Agora</a>
        </div>
      </div>  
    </div>
</body>
</html>