{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adoteja - Meu perfil</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}" />
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="main-profile">
      <div class="user-profile-section">
        <div class="profile-container">
          <div class="profile-header">
            <div class="left-items">
              <h1>Olá, {{ user.username }} 👋</h1>
              <h3>Aqui você poderá visualizar todas suas informações.</h3>
            </div>
            <div class="right-items">
              <a href="" class="notifications">
                <div class="ponto-vermelho-sino"></div>
                <i class="ph ph-bell" style="color: #000000"></i>
              </a>
              <a href="" class="arrow">
                <i class="ph ph-caret-down" style="color: #000000"></i>
              </a>
            </div>
          </div>
          <div class="line"></div>
          <div class="profile-infos">
            <div class="formulario-dados">
              <!-- <p>fazer os forms aqui</p> -->
              <!-- CONTINUE FAZENDO AQUI -->
              <label for="username">Seu nome</label>
              <input type="text" placeholder="Seu nome" value="{{ user.username }}">

              <label for="password">Sua senha</label>
              <input type="text" placeholder="Sua senha" value="{{ user.password }}" maxlength="5">
            </div>
          </div>

          <div class="meus-cachorros">
            <h2>Meus pets adotados</h2>
            <div class="cards-pets">
              {% for adocao in adocoes %}
                <div class="card-pet">
                  <img src="{{ adocao.pet.imagem.url }}" alt="{{ adocao.pet.nome }}">
                  <h4>{{ adocao.pet.nome }}</h4>
                  <p>{{ adocao.pet.raca }}</p>
                </div>
              {% empty %}
                <p>Você ainda não adotou nenhum pet.</p>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
