@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

body {
    text-align: center;
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
}

.home-container {
    width: 100%;
    max-width: fit-content;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.texts {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 12px;
}

.home-container h1 {
    width: fit-content;
    font-size: 70px;
    font-family: "Lilita One", sans-serif;
    color: #0088FF;
    margin: 0;
}

.home-container h3 {
    max-width: 50%;
    font-size: 22px;
    color: #000000a9;
    font-weight: 400;
    width: fit-content;
    margin: 0;
    line-height: 1.9rem;
    letter-spacing: -0.03rem;
    text-align: center;
}

.cachorro {
    margin: 10px;
    padding: 16px;
    padding-bottom: 28px;
    /* border: 1px solid #0000001c; */
    border-radius: 20px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
    background: #fff;
    display: flex;
    width: 100%;
    max-width: fit-content;
    flex-direction: column;
    gap: 12px;
}

.cachorro-infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cachorro h2 {
    font-family: "Lilita One", sans-serif;
    color: #000000;
    font-size: 32px;
    margin: 0;
}

.tags {
    display: flex;
    width: 100%;
    max-width: fit-content;
    gap: 10px;
    flex-wrap: wrap;
}

.tags .ph {
    font-size: 16px;
}

.tag {
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 1px solid #ffffff24;
    padding: 4px 14px;
    background: linear-gradient(90deg, #FF9500, #FF6A00);
    font-size: 12px;
    color: white;
    font-weight: 500;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

#sexo_femea {
    background: linear-gradient(90deg, #9d00ff, #ff00cc);
}

#sexo_macho {
    background: linear-gradient(90deg, #068006, #01b407);
}

.end-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.end-infos h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.end-infos p {
    font-size: 20px;
    margin: 0;
}

.pet-img img {
    width: 470px;
    height: 470px;
    border-radius: 10px;
    object-fit: cover;
}

.cachorros-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.cachorros-container a {
    text-decoration: none;
    color: inherit;
}

/* ========================================================= */

.info-container {
    display: flex;
    /* width: 100%; */
    padding: 14px;
    /* max-width: 1000px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 12vh;
}

.info-box {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 44px;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-info-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pet-nome {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.pet-nome h1 {
    margin: 0;
    width: fit-content;
}

.pet-info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    & p {
        margin: 0;
        width: fit-content;
        margin-bottom: 10px;
        color: #000000a9;
        text-align: start;
    }

    & h4 {
        margin: 0;
        width: fit-content;
        font-size: 18px;
    }
}

.button-adotar {
    text-decoration: none;
    color: inherit;
    padding: 12px 24px;
    background: linear-gradient(90deg, #0048ff, #0099ff);
    border-radius: 100px;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .pet-info-container {
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width: 570px) {
    .pet-info-container {
        width: 100%;
    }

    .info-box {
        width: 100%;
    }

    .pet-img img {
        width: 100%;
        height: 370px;
        border-radius: 10px;
        object-fit: cover;
    }
    
}